<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<Property name="ConsolePattern">[%p{length=4}] [%t] [%d{ISO8601}] %c{1}.%M(%F:%L) - %m%n</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${ConsolePattern}" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>