**/.settings
**/.project
**/target
**/.gitignore
**/.classpath
**/.idea
/**/*.iml
/**/rebel.xml
**/.gitignore
**/.springBeans
**/.factorypath
**/build
**/frontend/node
**/node_modules
**/npm-debug.log