<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    	http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/task  
		http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">
		
	<context:component-scan base-package="org.moon.test.timer" />
	
	<task:annotation-driven />
	
	<bean name="scheduleFactory" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="configLocation" value="quartz.properties"/>
	</bean>

	<!-- <bean name="simpleJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="org.moon.test.timer.spring.quartz.SimpleQuartzJob"/>
		<property name="durability" value="true" />
	</bean>

	<bean name="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="simpleJobDetail"/>
		<property name="cronExpression" value="0/5 * * * * ?"/>
	</bean>

	<bean name="xmlScheduleFactory" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="cronTrigger"/>
			</list>
		</property>
	</bean> -->
	
</beans>